@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
	box-sizing: border-box;
}

img{
	display: block;
	max-width: 100%;
}

body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 1.5px;
}

.section__titulo{
	text-align: center;
	font-size: 40px;
	color: #000;
}

.contenedor{
	margin: auto;
	width: 99%;
}

/*----------------------------------------Estilos del banner----------------------------------------*/
.banner{
	position: relative;
	margin-top: -80px;
}

video{
	max-width: 100%;
	height: auto;
	-webkit-filter: brightness(50%)
}

.banner__txt{
	display: none;
}

/*----------------------------------------Estilos del header----------------------------------------*/
.header .contenedor{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	color: #fff;
	text-align: center;
	z-index: 3;
}

.header a {
	width: 40px;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	padding: 5px;
	border: 3px solid #fff;
}

.header a:hover {
	background: rgba(16, 16, 16, 0.4);;
}

/*-----------------------------------------Estilos del menú-----------------------------------------*/
.navbar{
	position: absolute;
	background:rgba(16, 16, 16, 0.4);
	width: 100%;
	bottom: 0;
	display: none;
}

.navbar .nav{
	position: absolute;
	left: -100%;
	transition: all 0.4s;
}

.navbar .menu{
	display: flex;
	justify-content: center;
	list-style:none;
	padding: 0;
	margin: 0;
}

.navbar .menu__link{
	display: block;
	padding: 30px;
	background:rgb(74, 146, 160);
	text-decoration: none;
	color: #fff;
}

.navbar .menu__link:hover, .navbar .select{
	background:rgb(74, 146, 160);
	color: #FFF;
}

/*------------------------------------------Estilos de info------------------------------------------*/
.info__columna{
	color: #000;
	padding: 15px;
	margin-bottom: 30px;
}

.info__titulo{
	font-size: 20px;
}

.info__txt{
	font-size: 12px;
}


/*-----------------------------------------Estilos de herramientas-----------------------------------------*/
.herramientas__columna{
	position: relative;
	margin-bottom: 30px;
}

.herramientas__descripcion{
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	background: rgba(0,0,0,0.8);
	width: 60%;
	height: 100%;
	padding: 5px;
	overflow: auto;
}

.herramientas__titulo{
	font-size: 20px;
}

.herramientas__txt{
	font-size: 12px;
}

.herramientas__img{
	width: 100%;
}

/*------------------------------------------Estilos de footer------------------------------------------*/
.footer{
	background: #111;
	color: #fff;
	margin: 0;
	padding: 10px;
	text-align: center;
}

.copy{
	padding: 0;
	margin: 0;
}

/*-------------------------------------------Estilos responsive-------------------------------------------*/
@media(min-width: 480px){
	.banner__titulo{
		font-size: 30px;
		margin: 5px 0;
	}

	.banner__txt{
		display: block;
		font-size: 18px;
		/*margin: 7px	0;*/
	}

	.header a {
		width: 60px;
		font-size: 15px;
		padding: 7px;
	}

	.section__titulo{
		width: 100%;
	}

	.info, .herramientas{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 0;
	}

	.info__columna{
		width: 25%;
	}

	.info__titulo{
		font-size: 25px;
		margin: 5px 0;
	}

	.info__txt{
		font-size: 15px;
	}

	.herramientas__columna{
		width: 49%;
	}

	.herramientas__titulo{
		font-size: 25px;
	}

	.herramientas__titulo{
		font-size: 15px;
	}

}

@media (min-width: 768px) {
	.navbar .nav{
		position: static;
		width: 100%;
		z-index: 1000;
	}

	.navbar{
		display: block;
	}

	.navbar .menu{
		display: flex;
	}

	.navbar .menu__link{
		background: none;
		font-size: 12px;
	}

	.navbar .select{
		color: white;
		background:rgb(74, 146, 160);
	}

	.banner__titulo{
		font-size: 80px;
	}

	.header a {
		width: 70px;
		font-size: 18px;
		padding: 8px;
	}

	.info__titulo{
		font-size: 30px;
		text-align: center;
	}

	.info__txt{
		font-size: 20px;
	}

	.herramientas__titulo{
		font-size: 30px;
	}

	.herramientas__txt{
		font-size: 12px;
	}
}

@media (min-width: 1024px) {
	.contenedor{
		width: 1000px;
	}

	.navbar .menu__link{
		background: none;
		font-size: 16px;
	}

	.banner__titulo{
		font-size: 120px;
	}

	.banner__txt{
		font-size: 25px;
	}

	.header a {
		width: 80px;
		font-size: 20px;
		padding: 9px;
	}

	.section__titulo{
		font-size: 50px;
		margin: 30px 0;
	}

	.info__columna{
		padding: 30px;
	}

	.herramientas__descripcion{
		padding: 10px;
		/*display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;*/
	}
}

@media(min-width: 1280px){
	.contenedor{
		width: 1100px;
	}

	.header a {
		width: 100px;
		font-size: 25px;
		padding: 10px;
	}
}