*{
  font-family: sans-serif;
}
/*------------------------------------------------Slides------------------------------------------------*/
#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-decoration: none;
  background: rgba(0,0,0,0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  border-radius: 50%;
}

.slides-navigation a:hover {
  background: #000;
}

.slides-navigation a.prev {
  left: 0;
}
.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.slides-pagination a {
  border: 2px solid #fff;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
}

.slides-pagination a.current {
  background: #222;
}

/*------------------------------------------------Pestañas------------------------------------------------*/
.container{
  height: 100%;
}

.informacion-wrap{
  display: flex;
  height: 100%;
}

.tabs_wrap{
  width: 70%;
  height: 100%;
  overflow:auto;
  background: white;
}

.tabs_image{
  width: 30%;
  text-align: center;
  background:rgba(16,16,16,0.11);
}

.tabs_image h3{
  font-size: 25px;
  color: white;
  margin: 0;
  padding: 15px;
  background: rgba(0,0,0,0.55);
}

.tabs_image img{
  width: 50%;
}

.tabs_wrap .tabs__titulo{
  background: #00b0cc;
  color: #fff;
  font-size: 16px;
  padding: 20px;
}

.tabs_wrap .tabs__contenido{
  padding: 20px;
  background: #fff;
}

.tabs_wrap .tab-text{
  margin-left: 20px;
  font-weight: bold;
  color: #191970;
}

.tabs_wrap .actividades{
  width: 100%;
  height: 250px;
  border: none;
}

.tabs_wrap .subprocesos{
  height: 190px;
  border: none;
}

/**/

.description{
  background: rgba(0,0,0,0.4);
  color: #fff;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.description_2{
  background: rgba(0,0,0,0.4);
  color: #fff;
  padding: 20px;
  position: absolute;
  top: 10%;
  right: 25%;
}

.description__title{
  font-size: 30px;
}

.description__text{
  font-size: 20px;
}

.boton__regreso{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  font-size: 80px;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border: 3px solid #fff;
}

/*-------------------------------Mensajes-------------------------------*/
.mensajes{
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 40px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/*-------------------------Diagrama-------------------------*/
.container .diagrama{
  position: absolute;
  width: 100%;
  height: 100%;
}

/*-----------------------------------------Estilos de rolesDevOps-----------------------------------------*/
.rolesDevOps{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.rolesDevOps .section__titulo{
  text-align: center;
  margin: 30px 0;
  width: 100%;
  font-size: 25px;
}

.rolesDevOps__columna{
  position: relative;
  margin-bottom: 15px;
  width: 32%;
  height: 250px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*PO*/
#rolesDevOps__columna1{
  background: #4682B4;
}

/*SM*/
#rolesDevOps__columna2{
  background: #00FFFF;
}

/*Team*/
#rolesDevOps__columna3{
  background: #00BFFF;
}

/*Calidad*/
#rolesDevOps__columna4{
  background: #1E90FF;
}

/*Infraestructura*/
#rolesDevOps__columna5{
  background: #B0E0E6;
}

/*Automatización*/
#rolesDevOps__columna6{
  background: #191970;
}

.rolesDevOps__image{
  position: relative;
  height: 100%;
  max-height: 100%;
}

.rolesDevOps__descripcion{
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  background: rgba(0,0,0,0.55);
  width: 70%;
  height: 100%;
}

.rolesDevOps__titulo{
  text-align: center;
  font-size: 20px;
  color: white;
}

.rolesDevOps__txt{
  padding: 10px;
  text-align: justify;
  font-size: 15px;
  color: white;
}